{% extends "main.html" %}
{% block body %}
<div>
    <div>
        <div class="px-4 sm:px-6 lg:px-8">
            <div class="sm:flex sm:items-center">
              <div class="sm:flex-auto">
                <h1 class="mt-8 text-center text-xl font-semibold text-gray-900">Profesionales</h1>
              </div>
            
            </div>    
            <!-- el otro margencito jiji -->
            <div class="mt-2 flex flex-col">
              <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-md">   
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                  <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                      <thead class="bg-gradient-to-r from-cyan-600 to-cyan-200">
                        <tr>
                          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-slate-50 sm:pl-6">Doctores</th>
                          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-slate-50 sm:pl-6">Hospitales</th>
                          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                            <span class="sr-only">Edit</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white">
                        <!-- Descripcion especialidad -->
                        {% for doctor in doctores %}
                        <tr>
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Dr. {{ doctor.nombre }} {{ doctor.apellido }}</td>
                          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ doctor.hospital }}</td>
                          <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                            <a href="/reserva/{{ doctor.id }}" class="text-indigo-600 hover:text-indigo-900">Marcar consulta<span class="sr-only"></a>
                          </td>
                        </tr>
                        {% endfor %}
          
                        <!-- More people... -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>

    
  </div>
{% endblock%}